%div.container.on-3.columns.same-height
  - for person in @people
    %div.column
      %div.person.full-height
        %div.title
          %p= "<a href=\"/people/#{person.id}\">#{person.name}</a> (#{person.initials})"
        - started = person.stories.all(:state => 'started')
        - finished = person.stories.all(:state => 'finished')
        - delivered = person.stories.all(:state => ['delivered', 'accepted'])
        %div{ 'class' => (started.empty? && finished.empty? && delivered.empty?) ? 'elastic-height' : '' }
          - unless started.empty?
            %p.started Started
            %ul
              - for story in started
                %li= story.to_markup
          - unless finished.empty?
            %p.finished Finished
            %ul
              - for story in finished
                %li= story.to_markup
          - unless delivered.empty?
            %p.delivered Delivered
            %ul
              - for story in delivered
                %li= story.to_markup
          - if started.empty? && finished.empty? && delivered.empty?
            %p.inactive.vertical-center No active stories
