%div.container.on-3.columns.same-height
  - for person_hash in @people
    %div.column
      %div.person.full-height
        %div.title
          %p= "<a href=\"/people/#{person_hash[:person].id}\">#{person_hash[:person].name}</a> (#{person_hash[:person].initials})"
        %div{ 'class' => person_hash[:empty] ? 'elastic-height' : '' }
          - unless person_hash[:started].empty?
            %p.started Started
            %ul
              - for story in person_hash[:started]
                %li= story.to_markup
          - unless person_hash[:finished].empty?
            %p.finished Finished
            %ul
              - for story in person_hash[:finished]
                %li= story.to_markup
          - unless person_hash[:delivered].empty?
            %p.delivered Delivered
            %ul
              - for story in person_hash[:delivered]
                %li= story.to_markup
          - if person_hash[:empty]
            %p.inactive.vertical-center No active stories
