%div
  %a{:href => '/dash'}
    Back to dash
%div.person
  %h2= "<a href=\"/people/#{@person.id}\">#{@person.name}</a> (#{@person.initials})"
  %ul
    - for state in %w{started finished delivered accepted rejected unstarted unscheduled}
      - for story in @person.stories.all(:state => state)
        %li= "#{state}: <a href=\"#{story.url}\">#{story.name}</a> (#{story.type})"
